<section class="achievements-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Achievements</h2>
                <div class="achievementset">        
                    <div class="items">
                        <h3 class="level-title">Developed an Android application  called 'Anti Theft-Track it' a Mobile Security based application in "APPMANIA" a technical event held at Saranathan College of Engineering,Trichirapalli.</h3>
                                                         
                    </div><!--//item-->
                    
                   
                </div>  
            </section><!--//skills-section-->
