<section class="achievements-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Achievements</h2>
                       
                  <ul>
                  <li>Developed an Android application  called '<b>Anti Theft-Track it</b>' a Mobile Security based application in "<i>APPMANIA</i>" a technical event held at Saranathan College of Engineering,Trichirapalli.</li>
                  <li>Developed an Android application called '<b>Trigger</b>' a Mobile security based application.</li>
                  <li>Completed a mini-project by developing a <b>Recruitment System</b> for the subject "Object Oriented Analysis and Design".</li>
                  <li>Won <b>1st Place</b>  in '<b>Code Mania</b>' in "<i>BOOTFEST 2k17</i>" a technical level symposium organized in <b>Bishop Heber College</b>, Trichirapalli.</li>
                  <li>Won <b>2nd Place</b> in '<b>Brain Twisters</b>' in "<i>BOOTFEST 2k17</i>" a technical level symposium organized in <b>Bishop Heber College</b>, Trichirapalli.</li>
                  <li>Presented a paper on '<b>Vitanyi Encryption Analysis of Network Security Protocols</b>' in the National Level Symposium "<i>Tecarnival 2k17</i>"  held at <b>Trichy Engineering College</b>, Trichirapalli.</li>
                  </ul>  
            </section><!--//skills-section-->
