<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Some of the Mini-projects that I have developed so far are listed below:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://play.google.com/store/apps/details?id=com.josh.antitheft">Anti theft-Track it</a></span> - <span class="project-tagline">A security based Android application which is used for retrieving the new SIM card details and Location details of a stolen phone.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Trigger</a></span> - 
                    <span class="project-tagline">A security based Android application which is useful in finding a lost phone if it is present nearby. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Recruitment System</a></span> - <span class="project-tagline">Mini-project for the subject "Object Oriented Analysis and Design".</span>
                </div><!--//item-->
               
            </section><!--//section-->
